In [3]:
from types_data.utils import RasterIOInd
import geopandas as gpd, warnings
warnings.filterwarnings('ignore')
osm_raster_path = "../Data/Raster/osm/eth_osm_dst_road_100m_2016.tif"
virrs_raster_path = '../Data/Raster/viirs_100m/eth_viirs_100m_2016.tif'
population_unconstrained = '../Data/Raster/population_unconstrained/eth_ppp_2020.tif'
alos_topo = '../Data/Raster/ALOS_topoDiversity/ethiopia.tif'
dist_data = gpd.read_file("../Data/gjson/adm_3.geojson").sort_values('area')

In [2]:
dist_data.columns

Index(['id', 'fnid', 'name', 'unit_type_code', 'parent_id', 'start_date',
       'end_date', 'country_code', 'fewsnet_region', 'geographic_group',
       'full_name', 'es_name', 'fr_name', 'pt_name', 'ar_name', 'unit_type',
       'country', 'admin_0', 'admin_1', 'admin_2', 'admin_3', 'admin_4',
       'layer_id', 'layer_name', 'geographicunitsetversion_name', 'zone_type',
       'urban_rural', 'start_month', 'area', 'attributes', 'fid', 'geometry'],
      dtype='object')

In [6]:
alos = RasterIOInd(
    alos_topo,
    dist_data,
    "topo_diversity",
    "../output/Topodiversity/ALOS_topo_diversity.csv",
    only_metric=True,
)
alos.get_result()
print(alos.total_time)
alos.result_df.head()

  0%|          | 0/1141 [00:00<?, ?it/s]

100%|██████████| 1141/1141 [00:11<00:00, 98.24it/s]

11.617722511291504

,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,topo_diversity_mean,topo_diversity_sd,topo_diversity_sum
881,223677,ET2023A3150112,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Hafat Issa,0.155399,0.015211,0.932396
929,223725,ET2023A3170805,222768,Ethiopia,South West Ethiopia,Sheka,Masha town,0.253330,0.015200,3.799943
1054,223850,ET2023A3181511,222779,Ethiopia,South Ethiopia,Gofa,Laha town,0.633900,0.083084,12.044100
51,222847,ET2023A3010315,222697,Ethiopia,Tigray,East Tigray,Atsbi town,0.298557,0.027501,4.478350
879,223675,ET2023A3150110,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Gende Kore,0.139096,0.006433,1.530059

In [5]:
# alos.sample_values

In [4]:
pop = RasterIOInd(
    population_unconstrained,
    dist_data,
    "population_unconstrained",
    "../output/population_unconstrained/population_unconstrained.csv",
    only_metric=True,
)
pop.get_result()
print(pop.total_time)
pop.result_df.head()

100%|██████████| 1141/1141 [01:28<00:00, 12.84it/s]

88.90581560134888

,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,population_unconstrained_mean,population_unconstrained_sd,population_unconstrained_sum
881,223677,ET2023A3150112,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Hafat Issa,73.146699,7.066171,3145.308075
929,223725,ET2023A3170805,222768,Ethiopia,South West Ethiopia,Sheka,Masha town,4.723470,1.161147,557.369505
1054,223850,ET2023A3181511,222779,Ethiopia,South Ethiopia,Gofa,Laha town,3.132033,0.597487,523.049554
51,222847,ET2023A3010315,222697,Ethiopia,Tigray,East Tigray,Atsbi town,6.475163,1.503928,783.494717
879,223675,ET2023A3150110,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Gende Kore,63.884660,7.872312,5494.080723

In [5]:
pop.sample_values

array([6.33235043e-03, 6.33461075e-03, 6.33718586e-03, ...,
       7.42983246e+00, 7.52129364e+00, 7.56160355e+00])

In [6]:
6.33235043e-03

0.00633235043

In [2]:
import pandas as pd
data = pd.read_csv("../output/population_unconstrained/population_unconstrained.csv")
data['population_unconstrained_sum'].sum()

103809624.2131206

In [4]:
osm = RasterIOInd(
    osm_raster_path,
    dist_data,
    "distance_osm",
    "../output/osm/distance_osm.csv",
    only_metric=True,
)
osm.get_result()
print(osm.total_time)
osm.result_df.head()

100%|██████████| 1141/1141 [00:23<00:00, 48.02it/s]

23.770846128463745

,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,distance_osm_mean,distance_osm_sd,distance_osm_sum
881,223677,ET2023A3150112,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Hafat Issa,0.198472,0.092362,7.145000
929,223725,ET2023A3170805,222768,Ethiopia,South West Ethiopia,Sheka,Masha town,0.577534,0.235910,68.149000
1054,223850,ET2023A3181511,222779,Ethiopia,South Ethiopia,Gofa,Laha town,29.882982,0.370481,4990.458002
51,222847,ET2023A3010315,222697,Ethiopia,Tigray,East Tigray,Atsbi town,0.542717,0.231146,65.126000
879,223675,ET2023A3150110,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Gende Kore,0.191507,0.079773,14.363000

In [5]:
virrs = RasterIOInd(
    virrs_raster_path,
    dist_data,
    "night_time",
    "../output/virrs/night_time.csv",
    only_metric=True,
)
virrs.get_result()
virrs.total_time
virrs.result_df

  0%|          | 0/1141 [00:00<?, ?it/s]

100%|██████████| 1141/1141 [00:19<00:00, 59.92it/s]

,id,fnid,parent_id,admin_0,admin_1,admin_2,admin_3,night_time_mean,night_time_sd,night_time_sum
881,223677,ET2023A3150112,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Hafat Issa,1.660902e+38,1.700929e+38,1.395158e+40
929,223725,ET2023A3170805,222768,Ethiopia,South West Ethiopia,Sheka,Masha town,2.457024e+38,1.524419e+38,8.132748e+40
1054,223850,ET2023A3181511,222779,Ethiopia,South Ethiopia,Gofa,Laha town,1.643469e+38,1.700425e+38,5.308405e+40
51,222847,ET2023A3010315,222697,Ethiopia,Tigray,East Tigray,Atsbi town,1.539739e+38,1.693713e+38,3.402823e+40
879,223675,ET2023A3150110,222765,Ethiopia,Dire Dawa,Dire Dawa urban,Gende Kore,1.502545e+38,1.689750e+38,2.313920e+40
...,...,...,...,...,...,...,...,...,...,...
742,223538,ET2023A3050304,222746,Ethiopia,Somali,Jarar,Gashamo,2.717438e+38,1.364732e+38,3.361408e+44
94,222890,ET2023A3020102,222702,Ethiopia,Afar,Awusi,Elidar,3.382794e+38,2.602959e+37,3.017277e+44
797,223593,ET2023A3050901,222752,Ethiopia,Somali,Liben,Filtu,2.806193e+38,1.293932e+38,2.832844e+44
761,223557,ET2023A3050503,222748,Ethiopia,Somali,Korahe,Shilabo,2.510046e+38,1.496968e+38,3.638537e+44
112,222908,ET2023A3020207,222703,Ethiopia,Afar,Kilbati,Afdera,3.336193e+38,4.714789e+37,3.294457e+44